[submodule "learning-cxx"]
  path = learning-cxx
  url = git@github.com:ulrica66666/learning-cxx.git
  branch = main

[submodule "learning-lm-rs"]
	path = learning-lm-rs
	url = git@github.com:ulrica66666/learning-lm-rs.git
